body,
html {
    background-color: white;
    font-family: 'Karma', serif;
}

div#page_about_us{
    margin-left: 5em;
    margin-top: 2.5em;
    margin-right: 5em;
}

p#description{
    text-align: justify;
}

div#content_topics{
    padding-left: 2.5em;
}

div#name_member_team{
    padding-top: 1.5em;
    font-size: medium;
}

div#memberTeam.card-columns.col-sm-2{
    justify-content: left;
}

img#photo_img{
    height: 45%;
    width: auto;
}

div#memberInformation {
    margin-left: 12.5em;
}

/* Responsive */
@media (max-width: 500px) {
    div#page_about_us {
        margin-left: 1.5em;
        margin-top: 1.75em;
        margin-right: 1.5em;
    }

    div#content_topics {
        padding-left: 1.5em;
    }

    div#memberTeam.card-columns.col-sm-2 {
        justify-content: center;
        flex-direction: column;
        padding-bottom: 2.5em;
    }

    div#name_member_team {
        padding-top: 0.5em;
    }

    div#photo{
        padding-right: 0;
    }

    img#photo_img{
        width: 130%;
        height: auto;
    }

    div#memberInformation {
        margin-left: initials;
    }
}