.main .category-section .category-products .product .product-image img {
    height: 80%;
}

.main .category-section .category-products {
    padding: 0.5em;
    background-color: hsl(0, 0%, 100%);
}

.main .category-section .category-products .card-header {
    padding: 0.7142857142857143em 1.4285714285714286em;
}

.main .category-section .category-products .card-header:hover {
    background-color:  hsl(0, 0%, 88%);
}

.main .category-section .category-products .card-header:nth-child(even) {
    background: #f8f8f8;
}

.main .category-section .category-products .card-header:nth-child(even):hover {
    background-color:  hsl(0, 0%, 88%);
}

.main .category-section .category-products .product:last-child{
    border-bottom: none;
    background-color: white;
}

#accordion .card .card-body .product .product-class .cart-btn .btn-info {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

#accordion .card .card-body .product .product-class .cart-btn .btn-info:hover {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

#accordion .card .card-body .product .product-class .cart-btn .btn-info:active {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

#accordion .card .card-body .product .product-class .cart-btn .btn-info:visited {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

@media (max-width:500px) {
    .sidelinks {
        padding: 0;
    }
}
