.spinner {
    width: 100%;
    padding-bottom: 0.7143em;
    display: flex;
    -webkit-flex-direction: row;  /* Safari */
    flex-direction:  row;

}

.spinner input {
    text-align: right;
}

.spinner input[type=text]{
    height: 3em !important;
}

.form-control {
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
    padding: 0 0.5em 0 0.5em;
}

.input-group-btn-vertical {
    width: 15%;
}

.input-group-btn-vertical > .btn {
    display: block;
    padding: 0 0 0.03em 0;
    margin-left: -0.1em;
    border-radius: 0;
    flex: auto;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 0.4em;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -0.2em;
    border-bottom-right-radius: 0.4em;
}

.input-group-btn-vertical .btn .fa {
    padding: 0;
    width: 1em;
}

.category-section {
    flex-direction: column;

}

.category-section .category-products {
    width: auto;
}

.wishlist-section {
    flex-direction: row;
}

.category-section .category-products .product {
    /*
    border-style: solid;
    border-width: 0.0714em 0.0714em 0.0714em 0.0714em;
    */

    margin: 0.8em 1.8em 1.8em 0;
    display: flex;
    -webkit-flex-direction: row;  /* Safari */
    flex-direction:  row;
    height: 20em;
    padding-left: 1.8em;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 95%);
    padding: 0.5em;
    background-color: hsl(0, 0%, 95%);
}

.category-section .category-products .product .product-image {
    flex: 1;
    height: auto;
    width: auto;
    padding-left: 1.3em;

}

.category-section .category-products .product .product-image img {
    width: 100%;
    height: 100%;
}

.product .product-class .btns {
    flex: auto;
}

.category-section .category-products .product .product-name {
    flex: 2;
    padding-left: 1.3em;
}

.category-section .category-products .product .product-name h3 {
    margin: 0 0 0.5em 0;
}

.category-section .category-products .product .product-name h5 {
    margin: 0;
}

.category-section .category-products .product .product-class {
    flex: 1;
    padding-left: 1.3em;
}

.category-section .category-products .product .product-class .quantity {
    padding-right: 1.2em;
}

.category-section .category-products .product .product-class .quantity .spinner {
    display: flex;
}

.category-section .category-products .product .product-class .quantity .spinner .number {
    display: none;
}

.category-section .category-products .product .product-class .quantity .spinner .input-group-btn-vertical {
    display: flex;
    flex-direction: column;
    width: 5%;
}

.category-section .category-products .product .product-class .btns .cart-btn {
    padding-right: 1.2em;
}

.main .final {
    width: auto;
    height: auto;
    margin: 1.0em 9.3em 4em 25.7em;
    display: flex;
    -webkit-flex-direction: row;  /* Safari */
    flex-direction:  row;
    justify-content: between;
}

.main .final .delete-cart {
    flex: 1;
    display: flex;
    -webkit-flex-direction: column;  /* Safari */
    flex-direction:  column;
}

.main .final .delete-cart .delete-cart-btn {
    flex: 1;
    bottom: 0;
}

.main .final .blankspace {
    flex: 1;
}

.main .final .total-order {
    flex: 1;
    border-style: solid;
    border-width: 0.0714em 0 0 0;
}

.main .final .total-order .total {
    display: flex;
    -webkit-flex-direction: row;  /* Safari */
    flex-direction:  row;
    justify-content: between;
}

.main .final .total-order .pull-right {
    padding: 1em 0 0 0;
}

.main .final .total-order .pull-right .total h3 {
    margin: 0 0 1em 0;
}

.main .final .total-order .pull-right .total h3:first-child {
    margin: 0 3em 1em 0;
}

.main .final .total-order .pull-right .order-btn .btn {
    width: 66%;
    padding: 0.43em 0.43em 0.43em 0.43em;
}

.category-section .category-products{
    margin-top: 0.1em;
}

@media (max-width:500px) {
    .category-section .final .delete-cart .delete-cart-btn {
        padding-top: 2.2em;
    }
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {

    .category-section .category-products .product {
        height: 15em;
    }
}*/