.order-section .order-information {
    padding-left: 1.8em;
}

.fa-check-square {
    padding: 0;
}

.addresses {
    margin: 0;
    padding-top: 3em;
}

.addresses li:hover {
    background-color:  hsl(0, 0%, 88%);
}

.order-section .order-information .btns {
    padding-top: 3em;
}

.order-section .order-information .btns .col-sm-1:first-child {
    padding-left: 0;
}

.order-section .order-information .btns .col-sm-1:last-child {
    padding-right: 0;
}

.order-topbar h3{
    font-weight: bold;
}

.order-information h3{
    font-size: 1.4em;
    font-weight: bold;
}

@media (max-width:500px) {
    .order-section .order-topbar {
        margin: 0;
    }

    .order-section .order-information {
        margin: 0;
    }

    .order-section .order-information .btns {
        display: flex;
        flex-direction: row;
    }

    .order-section .order-information .btns .col-sm-1:first-child {
        flex: 1;
        width: 50%;
        margin: 0;
    }

    .order-section .order-information .btns .col-sm-10 {
        display: none;
    }

    .order-section .order-information .btns .col-sm-1:last-child {
        flex: 1;
        width: auto;
    }
}