div.container{
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 0em;
    padding-right: 0em;
}

div#chatSheet.row{
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
}

div#listOfPeople.card-columns.col-sm-3{
    flex-direction: column;
    border-right: lightgray;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-width: thin;
    padding-left: 0em;
    padding-right: 0em;
    width: 25%;
    overflow: scroll;
}

div#optionsChat.card-columns.col-sm-3{
    border-bottom: lightgray;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: thin;
    padding-top: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0em;
    padding-left: 0.75em;
    width: auto;
}

div#definition.card-columns.col-sm-1,
div#newMessage.card-columns.col-sm-1{
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0.5em;
    width: 25%;
}

a#definitionIcon.fa.fa-cog,
a#newMessageIcon.fa.fa-edit{
    font-size: 2em;
}

h5#chatTitle{
    font-size: x-large;
}

div#searchChatByPeople.card-columns.col-sm-3{
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: 100%;
}

input#searchUserChat{
    border: none;
    transition: width 0.4s ease-in-out;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.35);
    width: 100%;
}

input#searchUserChat[type=text]:focus {
    width: 100%;
}

div#people.card-columns.col-sm-3{
    white-space: nowrap;
    padding-top: 1em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-left: 1em;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    width: 100%;
}

img#photo_user{
    height: 4em;
    width: auto;
}

div#nameClient{
    padding-left: 0.5em;
}

/* mensagens */
div#message.card-columns.col-sm-9{
    flex-direction: column;
    padding-right: 0em;
    padding-left: 0em;
    width: 75%;
}

div#writeMessage{
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: #ccc;
    padding: 0em;
}

#modalDialog_writeMessage{
    width: 100%;
}

div#modalDialog_writeMessage.modal-dialog{
    margin: 0em;
}

div#modalBody_writeMessage{
    padding: 0.5em;
    margin-right: 1em;
}

div#formGroup_writeMessage{
    display: flex;
}

#message-text{
    width: 90%;
}

#buttonSend_writeMessage{
    width: 10%;
}

button#buttonSend_writeMessage.btn.btn-success{
    margin-left: 0.5em;
}

div#exchangeMessages{
    padding-right: 1em;
    padding-left: 1em;
    height: 19em;
    overflow: scroll;
}