footer#pageFooter{
    padding-top: .5em;
    padding-left: 0.5em;
}

footer p {
    color: white;
    text-align: left;
    margin: 0 0.7143em;
}

html,
body {
    height: 99%;
    margin: 0;
}

.pageContent {
    padding: 0;
    min-height: 99%;
    margin: 0 auto -1.5em;
}

footer {
    background-color: white;
}

#pageFooter{
    background-color: #836262;
}

@media (min-height:800px){
	footer{
		position: relative;
		bottom: -15px;
	}
}
