body,
html {
    overflow-x: hidden;  /* para não existirem scroll horizontal */
    background-repeat: no-repeat;
    background-color: white;
    font-family: 'Karma', serif;
}

body {
  overflow-y: hidden;
}

.main {
    margin-top: 2.8571em;
}

#myCarousel .carousel-inner img {
    width: 100%;
    height: 50em;
}

#content {
  display: flex;
  flex-direction: column;
}

#brand-container {
    padding-top: 4.2857em;
    padding-bottom: 2.8571em;
    display: flex;
    justify-content: center;
    flex-direction:  column;
}

.inner-brand-container {
    display: flex;
    justify-content: center;
    flex-direction:  row;
    padding-bottom: 2em;
    padding-top: 8em;

}

.card-columns {
    padding-bottom: 1.1em;
}

.brand-box {
    padding: 0 1.4286em 1.0714em 2.1429em;
}

.brand-banner-box {
    margin-bottom: 2.1429em;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 2px;
    border: 1px solid white;
    padding: 0.5em;
    background-color: white;
}

.brand-banner-box:last-of-type {
    margin-bottom: 0em;
}

.img-center{
    margin-left:auto;
	margin-right:auto;
}

.flex-item {
    flex: auto;
}

.card-columns {
    display: flex;
    flex-direction:  row;
    justify-content: center;
    align-content: stretch;
    width: 80%;
    height: 80%;
}

.stretch {
    width: 100%;
    height: 100%;
}

.stretch img {
    width: 100%;
    height: 100%;
}

.notstretch {
  display: flex;
    width: 100%;
    height: auto;
}

.notstretch img {
    width: 100%;
    height: 100%;
}

span {
    padding-left: 0.3571em;
    padding-right: 0.3571em;
}

@media (max-width:767px) {


    #brand-container {
        height: 20em;
    }

    .company_links {
        margin-top: 0;
    }
}

.card-columns {
  height: auto;
}

@media (max-width:500px) {
    #myCarousel .carousel-inner img {
        width: 100%;
        height: 18em;
    }

    #brand-container {
        height: auto;
        padding-top: 1.5em;
        padding-bottom: 0.5em;
    }

    .company_links {
        margin-top: 0;
    }

    #brand-container .inner-brand-container .card-columns {
        flex-direction: column;
    }
}
