#dropdownLogin {
    padding-top: 0;
    padding-left: 0.4em;
    background-color: white;
}

.topbar .top .sign {
    padding-top: 2em;
}

.topbar .top .sign a {
    color: #6699DD;
}

.topbar .top .sign a:hover {
    color: #6699DD;
    text-decoration: underline;
}


.topbar .top .sign .hi {
    padding-top: 0.1em;
}

.topbar .top .sign .dropdown {
    height: 1.5em;
}


.topbar .top .sign .dropdown .dropdown-menu {
    z-index: 10;
}

.topbar .top .sign .dropdown .dropdown-menu .dropdown-divider {
    background-color: #C0C0C0;
    height: 0.05em;
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.topbar .top .sign .dropdown .dropdown-menu a {
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.first_class .custom-navbar {
    z-index: 1;
}

@media (max-width:767px) {
    .topbar .top .sign {
        padding-top: 0.2em;
        padding-bottom: 0.4em;
    }
}
