.category-section .category-topbar {
  display: flex;
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
  -webkit-justify-content: between; /* Safari */
  justify-content: between;
  width: auto;
  height: auto;
}

.category-section {
  width: auto;
  height: auto;
}

.flex-item {
  flex: auto;
}

.category-section .category-topbar .category .dropdown {
  display: flex;
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
  -webkit-justify-content: between; /* Safari */
  justify-content: between;
  align-items: center;
}

.category-section .category-topbar .category {
  display: flex;
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
  -webkit-justify-content: between; /* Safari */
  justify-content: between;
  align-items: center;
}

.category-section .category-topbar .category h3 {
  margin: 0;
}

.category-section .category-products {
  border-style: solid;
  border-width:  0.0714em 0 0 0.0714em;
  width: auto;
  height: auto;
  margin: 1.4286em 5.7143em 0 0;
  display: flex;
  -webkit-flex-direction: column;  /* Safari */
  flex-direction:  column;
}

.category-section .category-products .product {
  border-style: solid;
  border-width: 0.0714em 0.0714em 0.0714em 0.0714em;
  width: auto;
  height: auto;
  margin: 1.0714em 0 1.0714em 0.7143em;
  display: flex;
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
  justify-content: between;

}

.category-section .category-products .product .product-image {
  padding: 2.1429em 3.5714em 2.1429em 2.1429em;
  flex: 1;
}

.category-section .category-products .product .product-name {
  padding: 2.1429em 3.5714em 2.1429em 2.1429em;
  display: flex;
  -webkit-flex-direction: column;  /* Safari */
  flex-direction:  column;
  flex: 3;

}

.category-section .category-products .product .product-name h3 {
  margin: 0 0 2.1429em 0;
}

.category-section .category-products .product .product-class {
  padding: 2.1429em 3.5714em 2.1429em 2.1429em;
  width: auto;
  height: auto;
  display: flex;
  -webkit-flex-direction: column;  /* Safari */
  flex-direction:  column;
  flex: 1;

}

.category-section .category-products .product .product-class h3 {
  margin: 0 0 0.7143em 0;
  text-align: center;
  vertical-align: middle;
}

.category-section .category-products .product .product-class .rating {
  margin: 0 0 0.7143em 0;
}

.category-section .category-products .product .product-class .rating .rating-addon:first-of-type {
  padding: 0 0 0 1.2143em;
}

.category-section .category-products .product .product-class .rating .rating-addon {
  padding: 0 0 0 0.5em;
}

.category-section .category-products .product .product-class .rating .grey {
  color: #A9A9A9;
}

.category-section .category-products .product .product-class .btns {
  padding: 0 0 0.7143em 0;
  display: flex;
  -webkit-flex-direction: column;  /* Safari */
  flex-direction:  column;
}

.category-section .category-products .product .product-class .btns .cart-btn {
  padding: 0 0 0.7143em 0;
  width:100%;
}

.category-section .category-products .product .product-class .btns .fav-btn {
  padding: 0 0 0.7143em 0;
  width:100%;
}

.category-section .category-products .product .product-class .btns .btn {
  width:100%;
}
