.company_links{
	border-bottom: solid 0.01em #D3D3D3;
	border-top: solid 0.01em #D3D3D3;
	/*
	margin-bottom: 0.25em;
	 */
	padding-top: 0.4em;
	padding-bottom: 0.4em;
  background-color: hsl(0, 14%, 45%);
}

.company_links>div{
	padding-left: 0em;
	background-color:  inherit;
}

.company_links a {
	color: white;
}

.main {
	padding-bottom: 2.5em;
}

/* About us */
h4{
	margin-bottom: 0.2357em;
}

@media (max-width:767px) {

  .company_links {
    margin-top: 0;
  }

}

@media (min-height:800px){
	.company_links{
		position: relative;
		bottom: -15px;
	}
}
