body, html {
    background-repeat: no-repeat;
    background-color: white;
    font-family: 'Karma', sans-serif;
    overflow-x: hidden;
}

/*Main Section*/

.main{
	margin-top: 1.5em;
	margin-left: 0em;
	margin-right: 0em;
}

.user_area{
	padding-left: 4em;
	padding-top: 2em;/*
	border-top: solid 0.01em #D3D3D3;
	border-left: solid 0.01em #D3D3D3;*/
}

/*SideLinks*/
.sidelinks {
	padding-right: 0em;
}

/*User Information*/

.information>div>div:first-child {
	padding-right: 0em;
}

.information>div>div div:first-child>p{
	font-weight: bold;
}

.main .row-fluid .row:first-child {
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	background-color: white;
	border-radius: 5px;
	border: 5px solid;
  border-left: 20px;
  border-right: 20px;
  border-color: hsl(0, 0%, 95%);
	padding: 0.5em 0.5em 0.5em 0.5em;

}

/*Addresses List*/

.addresses>p {
	font-weight: bold;
}


.addresses ul {
  background-color: white;
	overflow-y: scroll;
	height: 12em;

  	margin: 0;
  	padding: 0;
  	border: 0.14285714285714285em solid #ccc;
}

.addresses li {
	padding: 0.7142857142857143em 1.4285714285714286em;

	border-bottom: 0.07142857142857142em solid #ccc;
}

.addresses li:last-child{
	border-bottom: none;
}

.addresses li:nth-child(even) {
	background: #f8f8f8;
}

/*Profile Photo*/

.photo {
	padding-left: 0em;
}

.photo>img {
	height: 10em;
	width: 10em;
}

/*Responsive*/

@media(min-width: 1400px){
	.information  div:first-child>p{
		padding-left: 1em;
	}
}

@media (max-width: 1400px) and (min-width: 1151px) {
	.information div:nth-child(2)>p{
		padding-left: 1em;
	}

	.information label~div {
		padding-left: 1em;
		width: 20em;
	}
}

@media (max-width: 1150px) and (min-width: 951px) {
	.information div:nth-child(2)>p{
		padding-left: 2em;
	}

	.information label~div {
		padding-left: 2em;
		width: 15em;
	}
}

@media (max-width: 950px) and (min-width: 768px) {
	.information div:nth-child(2)>p{
		padding-left: 4em;
	}

	.information label~div {
		padding-left: 4em;
		position: relative;
		left: 2em;
	}

	.information label~div {
		padding-left: 2em;
		width: 12em;
	}
}

@media (max-width: 1200px) and (min-width: 951px) {
	.information {
		padding-left: 6em;
	}
}

@media (max-width: 951px) and (min-width: 768px) {
	.information {
		padding-left: 8em;
	}
}

/*Edit Profile*/

.information > div:first-child>div{
	padding-left: 0em;
}

.information > div:first-child>div{
	padding-left: 0em;
}


.photo a {
	position: relative;
	top: 0.2em;
	left: 2.8em;
}

.addresses button{
	position: relative;
	float: right;
	bottom: 0.4em;
}

.confirm_buttons>div{
	padding-left: 0em;
	padding-top: 1em;
}
