

body {
  padding: 80px;
}

.Profile {
	width: 285px;
	padding-right: 0px;
}

.Profile > p {
	margin: 0px;
	padding: 10px;
	background-color: #E8E8E8;
}

.Profile > p:before{
  content:"";
  width:0px;
  height:0px;
  border-top:20px solid transparent;
  border-left:10px solid #E8E8E8;
  border-right: 10px solid transparent;
  border-bottom: 20px solid transparent;
  position:absolute;
  left:100%;
  top:0px;
}

.Lists {
	border:2px solid #000;
	
}

.Lists>div{
	padding-left: 20px;
}

.Lists a {
	color: black;
}

.Information>div div:first-child>p{
	font-weight: bold;
}

.Addresses>p {
	font-weight: bold;
}


ul {
	
  overflow-y: scroll;
  height: 250px;
  
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  
}

li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
  
}

li:last-child{
	border-bottom: none;
}

li:nth-child(even) {
	background: #f8f8f8;
}