body, html {
    height: 99%;
    background-repeat: no-repeat;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    padding: 0 0.7142em 0 0.7142em;
}

.main {
    margin-top: 2.8571em;
}

.mb-4 {
    font-size: 3.5714em;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

#brand-container {
  padding-top: 4.2857em;
  padding-bottom: 2.8571em;
  display: flex;
  justify-content: center;
  flex-direction:  column;
}

#inner-brand-container {
  display: flex;
  justify-content: center;
  flex-direction:  row;
}

.brand-box {
  padding: 0 1.4286em 1.0714em 2.1429em;
}

.brand-banner-box {
  margin-bottom: 2.1429em;
}

.img-center{
	margin-left:auto;
	margin-right:auto;
}

.flex-item {
  flex: auto;
}

.card-columns {
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-content: stretch;
  width: 80%;
  height: 80%;
}

.stretch {
  width: 100%;
  height: 100%;
  padding-bottom: 2.1429em;
}

.stretch img {
  width: 100%;
  height: 100%;
}
