body, html {
    height: 99%;
    background-repeat: no-repeat;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    padding: 0 10px 0 10px;
}

.main {
    margin-top: 40px;
}

.mb-4 {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.topbar {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.logo {
  width: 80%;
  height: 80%;
}

.search {
  width: auto;
  display: flex;
  flex-direction:  row;
  justify-content: center;

}

.sign {
  padding-top: 22px;
  width: auto;
  display: flex;
  flex-direction:  row;
  justify-content: center;

}

.shop-cart::before {
  content:'';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

i.fa.fa-shopping-cart::before {
    color: white;
    font-size:24px;
}

i {
  padding: 12px 0 0 0;
}

#navBarSearchForm input[type=text]{
  width: 250px !important;
  height: 34px !important;
}

#brand-container {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction:  column;
}

#inner-brand-container {
  display: flex;
  justify-content: center;
  flex-direction:  row;
}

.brand-box {
  padding: 0 20px 15px 30px;
}

.brand-banner-box {
  margin-bottom: 30px;
}

.img-center{
	margin-left:auto;
	margin-right:auto;
}

.top {
  display: flex;
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
  -webkit-justify-content: between; /* Safari */
  justify-content: between;
}

.flex-item {
  flex: auto;
}

.card-columns {
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-content: stretch;
  width: 80%;
  height: 80%;
}

.stretch {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.stretch img {
  width: 100%;
  height: 100%;
}
