
body, html {
    background-repeat: no-repeat;
    background-color: white;
    font-family: 'Karma', sans-serif;
	overflow-x: hidden;  /* para não existirem scroll horizontal */
}

/*Main Section*/
.main{
	margin-top: 1.5em;
	margin-left: 0em;
	margin-right: 0em;
}

/*SideLinks*/
.sidelinks {
	padding-right: 0em;
}

.animated {
   -webkit-transition: height 0.2s;
   -moz-transition: height 0.2s;
   transition: height 0.2s;
}

.stars
{
   margin: 20px 0;
   font-size: 24px;
   color: #A9A9A9;
}
