body, html {
    height: 99%;
    background-repeat: no-repeat;
    background-color: #ffe7e7;
    font-family: 'Karma', serif;
}

.main {
    margin-top: 2.8571em;
}

.panel-heading {
    margin-bottom: 2.8571em;
}

.mb-4 {
    font-size: 3.5714em;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

.form-group {
    margin-bottom: 1.0714em;
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

label {
    margin-bottom: 1.0714em;
}

input,
input::-webkit-input-placeholder {
    font-size: 0.7857em;
    padding-top: 0.2143em;
    max-width: 17.8571em;
}

.main-login {
    background-color: #fff;

    /* shadows and rounded borders */
    -moz-border-radius: 0.1429em;
    -webkit-border-radius: 0.1429em;
    border-radius: 0.1429em;
    -moz-box-shadow: 0em 0.1429em 0.1429em rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0em 0.1429em 0.1429em rgba(0, 0, 0, 0.3);
    box-shadow: 0em  0.1429em 0.1429em rgba(0, 0, 0, 0.3)
}

.main-center {
    margin-top: 2.1429em;
    margin-bottom: 4.2857em;
    margin-top: 1.4286em;
    margin-right: auto;
    margin-left: auto;
    max-width: 23.5714em;
    padding: 1.0714em 2.5em;
}

.login-button {
    margin-top: 0.3571em;
}

.back-btn {
    width: 99%;
    padding: 0 0 2.5em 0;
}

.back-btn .btn {
    background-color: #ffffff;
    color: black;
}

.register-container {
	padding-bottom: 1em;
}
