/* 1º rectangulo */
/*
body {
    font-size: 16px;
}
 */

.top {
    display: flex;
    -webkit-flex-direction: row;  /* Safari */
    flex-direction:  row;
    -webkit-justify-content: between; /* Safari */
    justify-content: between;
}

.topbar {
    display: inline-block;
    width: 99%;
    padding: 0.7143em 0;
    margin: 0;
}

.logo {
    width: 80%;
    height: 80%;
    padding-left: 0.25em;
}

.search {
    width: auto;
    display: flex;
    flex-direction:  row;
    justify-content: center;
}

.sign {
    text-align: right;
    padding-top: 2em;
    padding-bottom: 1.5714em;
    width: auto;
    display: flex;
    flex-direction:  row;
    justify-content: center;
}

.sign a, .sign span{
    text-align: right;
}

/* 2º rectangulo */

#navBarSearchForm {
    margin-top: 1.5em;
}

#navBarSearchForm input[type=text]{
    width: 17.8571em !important;
    height: 2.4285em !important;
}

#navBarSearchForm .btn-dark {
    background-color: #C0C0C0;
    padding: 0.55em 0.75em 0.35em 0.75em;
}

div.col-lg-3.flex-item.sign{
    padding-right: 0em;
}

.navbar-inverse{
    background-color: #836262;
    border-color: #836262;
	margin: 0;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.mb-4 {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.top .flex-item {
    flex: auto;
}

.top span {
    padding-left: 0.3571em;
    padding-right: 0.3571em;
}

.bread-crumb nav ol {
	background-color: white;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  padding-left: 0em;
}

img.mb-4{
    padding-left: 0.35em;
    width: 100%;
    height: 100%;
}

div.container-fluid.topbar{
    padding-left: 0.7em;
}

#cat{
    font-size: 16px;
}

.custom-navbar .fa {
  font-size:25px
}

.custom-navbar .navBar-container {
  margin-left: 0;
  margin-right: 1.1em;
}

@media (max-width:1000px) {
  #navBarSearchForm input[type=text]{
      width: 10em !important;
      height: 2.4285em !important;
  }
  .search {
      width: auto ;
      height: auto;
  }
}

@media (max-width:767px) {
  img.mb-4{
      padding-right: 0.8em;
  }

  .topbar .top {
    -webkit-flex-direction: column;  /* Safari */
    flex-direction:  column;
  }

	.custom-navbar .navbar-right {
	    float: right;
	    padding-right: 15px;
	}
	.custom-navbar .nav.navbar-nav.navbar-right li {
	    float: right;
	}
  	.custom-navbar .nav.navbar-nav.navbar-right li > a {
	    padding: 8px 5px;
	}
	.custom-navbar .navbar-toggle {
	    float: left
	}
	.custom-navbar .navbar-header {
	    float: left;
	    width: auto!important;
	}
	.custom-navbar .navbar-collapse {
	    clear: both;
	    float: none;
	}

  .topbar .top .sign {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
  }
}
